.left-gray-border {
  border-left: solid #dbd5d5 2px;
}

.title {
  color: #8a97b7;
}

.title-caption {
  color: #194dcfb3;
  font-weight: bold;
}

.card {
  margin-bottom: 0px;
}

.table-row:hover:not(.background-default) {
  background-color: #babdba63;
}

.botao {
  color: #ffffff;
  background-color: #87cb16;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
}

.botao:hover {
  background-color: #049f0c;
}
