.income {
  color: rgb(69, 172, 9);
}

.expense {
  color: rgba(196, 29, 29, 0.993);
}

.label-100 {
  display: block;
  width: 100%;
}

.text-footer {
  font-size: 18px;
  text-transform: capitalize;
}

.text-size-30 {
  font-size: 30px;
}
