.stats {
  font-size: 13px;
  font-weight: bold;
}

.income-label {
  font-weight: bold;
  color: black;
  font-size: 19px;
}

.expense-label {
  font-weight: bold;
  color: red;
  font-size: 19px;
}
