<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="resumoAtual$ | async as summary">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats card-hover">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">monetization_on</i>
            </div>
            <div class="card-category ">
              <div class="income-label">Income</div>
            </div>
            <h3 class="card-title">
              {{ summary.income | currency }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">lightbulb</i>
              <span class="text-success mr-3px"> last Income: </span>
              {{ lastIncome?.payee }} => {{ lastIncome?.labelSub }} ({{
                lastIncome?.amount | currency
              }})
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats card-hover">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">money_off</i>
            </div>
            <div class="card-category ">
              <div class="expense-label">Expenses</div>
            </div>
            <h3 class="card-title">{{ summary.expense | currency }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">lightbulb</i>
              <span class="text-danger mr-3px"> last Expense: </span>
              {{ lastExpense.payee }} => {{ lastExpense.labelSub }} ({{
                lastExpense.amount | currency
              }})
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats card-hover">
          <div
            class="card-header card-header-{{
              summary.total >= 0 ? 'success' : 'danger'
            }} card-header-icon"
          >
            <div class="card-icon">
              <i class="material-icons">paid</i>
            </div>
            <div class="card-category ">
              <div class="income-label">Current Balance</div>
            </div>
            <h3 class="card-title">{{ summary.total | currency }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">lightbulb</i>
              {{ summary.opening | currency }}
              {{ summary.income + summary.expense >= 0 ? "+" : " " }}
              {{ summary.income + summary.expense | currency }} =
              {{ summary.total | currency }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="false">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">savings</i>
            </div>
            <div class="card-category ">
              <div class="income-label">Budget</div>
            </div>
            <h3 class="card-title">03</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">lightbulb</i>
              Valor Total Processado desde o Início
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">
              All the expenses made across the months for the selected account
            </p>
            <h3 class="card-title">
              Expenses Grouped By Category
              <small></small>
            </h3>
          </div>
          <div class="card-body">
            <div class="grafico">
              <canvas height="50" id="chartHistoryPerCategory"></canvas>
            </div>
          </div>
          <div class="card-footer" *ngIf="false">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)">Info/Warning about the chart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">
              All the income/expenses made across the months for the selected
              account
            </p>
            <h3 class="card-title">
              Expenses History
              <small></small>
            </h3>
          </div>
          <div class="card-body">
            <div class="grafico">
              <canvas height="45" id="chartHistory"></canvas>
            </div>
          </div>
          <div class="card-footer" *ngIf="false">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)">Info/Warning about the chart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
