.stats {
  font-size: 13px;
  font-weight: bold;
}

.card-hover {
  transition: 0.3s;
  cursor: pointer;
}
.card-hover:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.63);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.63);
}
