<div class="logo">
  <a href="#" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    My Expenses
  </a>
</div>

<div class="sidebar-wrapper" style="background: #4258ca1f">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a
        class="nav-link"
        [routerLink]="[menuItem.path]"
        *ngIf="menuItem.subItems.length == 0"
      >
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>

      <a
        *ngIf="menuItem.subItems.length > 0"
        class="nav-link"
        data-toggle="collapse"
        href="#{{ menuItem.id }}"
        aria-expanded="false"
      >
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>
          {{ menuItem.title }}
          <b class="caret"></b>
        </p>
      </a>

      <div
        class="collapse"
        routerLinkActive="show"
        id="{{ menuItem.id }}"
        *ngIf="menuItem.subItems.length > 0"
      >
        <ul class="nav">
          <li
            class="nav-item"
            routerLinkActive="active"
            *ngFor="let subitem of menuItem.subItems"
          >
            <a class="nav-link" [routerLink]="[subitem.path]">
              <i class="material-icons">{{ subitem.icon }}</i>
              <p>{{ subitem.title }}</p>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link item" (click)="logout()">
        <i class="material-icons">logout</i>
        <p>Sair</p>
      </a>
    </li>
  </ul>
  <div class="footer">
    <hr />
    <div class="stats">Arnaldo C. Bezerra®</div>
  </div>
</div>
