.stats {
  font-size: 13px;
  font-weight: bold;
}

.card-hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-hover:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(56, 54, 54, 0.75);
  -moz-box-shadow: 5px 5px 15px 5px rgba(50, 49, 49, 0.75);
  box-shadow: 5px 5px 15px 5px rgba(68, 67, 67, 0.75);
}

.selected-account-label {
  text-transform: uppercase;
  margin-left: 5px;
  color: green;
  font-weight: bold;
}

.selected-account-amount {
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  font-size: 24px;
}

.current-balance{
  position: absolute;
  right: 5%;
}

.current-balance-value{
  text-transform: uppercase;
  margin-left: 5px;
  color: green;
  font-weight: bold;
}