<div class="card">
  <div class="content">
    <div class="row">
      <div class="col-md-7 scroll-95">
        <div class="card">
          <div class="header">
            <h4 class="title title-caption">Parties / Debts</h4>
            <p class="category">
              All parties / debts involved in the transactions
            </p>
          </div>
          <div class="content">
            <div class="list-transaction">
              <div *ngIf="partyDebtList$ | async as partyDebtList">
                <div class="row table-row background-default"></div>
                <div *ngFor="let item of partyDebtList" class="row table-row">
                  {{ item.name }}
                </div>
              </div>
            </div>

            <div class="footer">
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
