.list-transaction .row:hover:not(.background-default) {
  background-color: #babdba63;
  font-weight: bold;
  color: black;
}

.table-row {
  height: 48px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  border-color: #e0e0e0;
  padding-left: 24px;
  padding-right: 24px;
}

.list-transaction {
  font-size: 14px;
}

.background-default {
  background-color: #1a294b;
  color: #8a97b7;
}
