<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-1 scroll-99">
          <div class="content h-100">
            <div class="row h-100">
              <div class="col-md-2 menu-lateral">
                <div>
                  <div class="header">
                    <img
                      mat-card-image
                      [src]="'/assets/img/angular2-logo-white.png'"
                      alt="account"
                    />
                    <h4 class="title">Summary of:</h4>
                    <div class="row">
                      <div class="income">Income</div>
                      <div class="income menu-align-right bold"></div>
                    </div>
                    <div class="row">
                      <div class="expense">Expenses</div>
                      <div class="expense menu-align-right bold"></div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="menu">
                      <div class="row" [routerLink]="'/home'">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false">home</mat-icon>
                        </div>
                        <div>Home</div>
                      </div>
                      <div class="row" [routerLink]="'/user'">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false">dashboard</mat-icon>
                        </div>
                        <div>Dashboard</div>
                      </div>
                      <div class="row">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false">settings</mat-icon>
                        </div>
                        <div>Settings</div>
                      </div>
                      <div class="row">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false">import_export</mat-icon>
                        </div>
                        <div>Import Transactions</div>
                      </div>
                      <div class="row">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false"
                            >playlist_add_check</mat-icon
                          >
                        </div>
                        <div>Monthly Expense List</div>
                      </div>
                      <div class="row">
                        <div class="menu-icon">
                          <mat-icon aria-hidden="false">exit_to_app</mat-icon>
                        </div>
                        <div>Logout</div>
                      </div>
                    </div>
                    <div class="footer">
                      <hr />
                      <div class="stats">Arnaldo C. Bezerra®</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-10">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
