<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="mt-1 scroll-99">
              <div class="content h-100">
                <div class="row h-100">
                  <div class="col-md-2">
                    <div class="wrapper">
                      <div
                        class="sidebar"
                        data-color="danger"
                        data-background-color="white"
                        data-image="./assets/img/sidebar-1.jpg"
                      >
                        <app-menu></app-menu>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10" style="margin-left: -7px">
                      <div class="row" style="padding: 5px 0 0px 15px;">
                        <app-switch-account
                          class="col-md-11"
                        ></app-switch-account>
                        <app-navbar class="col-md-1"></app-navbar>
                      </div>
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</amplify-authenticator>

<ng-container *ngIf="loadingService.isLoading$ | async">
  <div class="loading-icon" style="z-index: 1001">
    <img
      [src]="'/assets/img/loading-buffering.gif'"
      alt="Loading Icon"
      class="img-centered"
    />
    <div class="load-box">
      <div class="load-text">
        We are loading a few data. So that you will have a smoother experience
      </div>
    </div>
  </div>
</ng-container>
