<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mt-1 scroll-99">
          <div class="content h-100">
            <div class="row h-100">
              <app-menu class="col-md-2"></app-menu>
              <div class="col-md-10" style="margin-left: -7px">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
