<div class="card card-chart">
  <div class="card-header">
    <div class="row">
      <div class="col-md-7">
        <h4 class="card-title title-caption">Monthly Analysis</h4>
      </div>
    </div>

    <div class="row" *ngIf="validYearMonthCombination$ | async as validYearMonth">
      <div class="col-md-6">
        <label>Source</label>
        <div class="form-group">
          <select
            
            class="custom-select"
            matNativeControl
            #selectSource
            (change)="monthChanged(selectSource.value, selectTarget.value)"
          >
            <option
              *ngFor="let month of validYearMonth"
              [selected]="month == selectedSourceMonth"
              [value]="month"
            >
              {{ month }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label>Target</label>
        <div class="form-group">
          <select
            class="custom-select"
            matNativeControl
            #selectTarget
            (change)="monthChanged(selectSource.value, selectTarget.value)"
          >
            <option
              *ngFor="let month of validYearMonth"
              [selected]="month == selectedTargetMonth"
              [value]="month"
            >
              {{ month }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <p class="category">Compare with previous Month by Category</p>
  </div>
  <div class="card-body">
    <canvas id="month-analysis-comparison" height="50px"></canvas>
  </div>
  <div class="card-footer">
    <div class="container-fluid">
      <div class="month-analysis">
        <div>
          <div>
            <div class="row">
              <div class="row col-md-12 lh-2">
                <div class="col-md-2 category-name">Category Name</div>
                <div class="col-md-2 category-name">{{ sourceMonth }}</div>
                <div class="col-md-2 category-name">{{ targetMonth }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-transaction" *ngIf="monthAnalysis">
        <div class="row zebra item" *ngFor="let item of monthAnalysis">
          <div class="col-md-2">
            <div class="form-group">
              {{ item.categoryName }}
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <span
                class="category-amount"
                [ngClass]="item.isBetter ? 'income' : 'expense'"
              >
                {{ item.amount | currency : "EUR" : "symbol" }}
              </span>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <span class="category-amount">
                {{ item.lastMonthAmount | currency : "EUR" : "symbol" }}
              </span>
            </div>
          </div>

          <div class="col-md-1 menu-icon progress-arrow-indicator">
            <mat-icon
              aria-hidden="false"
              [ngClass]="!item.isBetter ? 'income' : 'expense'"
              >{{ !item.isBetter ? "trending_up" : "trending_down" }}</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
