::ng-deep .mat-expansion-panel {
  border-top: 1px #d5d5d5 solid;
}

::ng-deep .mat-chip {
  font-size: 10px;
  padding: 5px;
}

.percent-quantity {
  background: linear-gradient(80deg, #0000ff3b var(--percent), #f000 0%);
}

.right-quantity {
  background: linear-gradient(80deg, #f000 98%, #5ebf0d 0%);
}

.less-quantity {
  background: linear-gradient(80deg, #f000 98%, #f44 0%);
}

.more-quantity {
  background: linear-gradient(80deg, #f000 98%, #b942db 0%);
}

.day-of-month {
  background-color: blue;
  color: white;
  font-weight: 600;
  width: max-content;
  padding: 5px;
  border-radius: 10px;
}

.title {
  color: #8a97b7;
}

.title-caption {
  color: #194dcfb3;
  font-weight: bold;
}

.card {
  margin-bottom: 0px;
}

.w-25 {
  width: 25%;
}

.pl-24 {
  padding-left: 24px;
}
.pr-24 {
  padding-right: 24px;
}

.cat {
  line-height: 15px;
}

.category {
  color: #555252;
  font-weight: bold;
  font-size: 15px;
}

.sub-category {
  font-size: 13px;
  color: #f70000;
}

.income-icon {
  border: 1px solid rgb(69, 172, 9);
  border-radius: 15px;
  font-size: 22px;
  margin-right: 5px;
}

.expense-icon {
  border: 1px solid rgba(196, 29, 29, 0.993);
  border-radius: 15px;
  font-size: 22px;
  margin-right: 5px;
}
